<%- include('../includes/head.ejs') %> 
</head>
    <%- include('../includes/navigation.ejs') %> 
<body>
    <main class="flex-grow-1 d-flex container">
        <h1 class="m-auto">checkout</h1>
    </main>
    <%- include('../includes/end.ejs') %> 